{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title_block %} {{ post.title }} {% endblock %}

{% block body_block %}

<img src="/Media/{{ blog.image }}" class="post_image mt-2 rounded">
<p class="ps-1 my-0">{{ blog.posted_on }} </p>
<p class="my-0"><b>Author : </b>{{ blog.author.username }}</p>
<h1> {{ blog.title }} </h1>
<p> {{ blog.content|linebreaks }} </p>
<div>
    {% if not liked %}
        <a href="{% url 'Blog_App:like_post' pk=blog.pk %}">
            <i class="fa-regular fa-heart"></i> {{ blog.blog_like.count }}
        </a>
    {% else %}
        <a href="{% url 'Blog_App:undo_like' pk=blog.pk %}">
            <i class="fa-solid fa-heart"></i> {{ blog.blog_like.count }}
        </a>
    {% endif %}
</div>
<hr>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-5">
        <form method="POST"> 
            {{ form|crispy }}    
            {% csrf_token %}
            
            <button type="submit" class="btn btn-primary my-2" style="width: 100%;"> Comment </button>
        </form>   
    </div>
    <div class="col-sm-12 col-md-6 col-lg-7 border-start border-end border-secondary pt-2">
        All Comments| <i class="fa-regular fa-comment"></i><b>{{ blog.blog_comment.count }}</b> 
        <hr class="mt-1">
        <ul class="ps-0 ms-0">
            {% for comment in blog.blog_comment.all %}
            <div class="bg-secondary-subtle rounded fs-5 pt-2 ps-2 mb-0 row mt-2">
                <div class="mb-0 pb-0 col-11">
                    <p class="pb-0 mb-0"> <b> {{comment.author}} </b> </p>
                    <p class="pt-0 mt-0">{{comment.comment }} </p>
                </div>
                <div class="col-1">
                    {% if user == comment.author or user == blog.author %}
                    <div class="dropdown mt-0 fs-6">
                        <button class="dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                            {% if user == comment.author %}
                          <li><a class="dropdown-item" href="{% url 'Blog_App:change_comment' pk=comment.pk %}"> Change Comment </a></li>
                          <li><hr class="dropdown-divider"></li>
                            {% endif %}
                          <li><a class="dropdown-item" href="{% url 'Blog_App:delete_comment' pk=comment.pk %}"> Delete Comment </a></li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
                <p class="pt-0 ps-1 mt-0 pb-0 cmnt_time"> {{ comment.updated_on }} </p>
            </div>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}